/*================COMMON STYLES================*/
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  background-color: #fff;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/*========HEADER========*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-text-white-theme {
  color: #000;
}

.logo-text-dark-theme {
  color: #fff;
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.mail-link:hover,
.mail-link:focus {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}
/*========END HEADER========*/

/*========FOOTER========*/
.contact-info-location {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-info-connection {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-info-connection:hover,
.contact-info-connection:focus {
  color: var(--accent-color);
}

.footer {
  background: #2f303a;
}
/*========END FOOTER========*/
/*================END COMMON STYLES================*/

/*================STUDIO================*/
/*========HERO========*/
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
/*========END HERO========*/

/*========ADVANTAGE========*/
.advantage-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantage-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/*========END ADVANTAGE========*/

/*========TEAM========*/
.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /*text-align: center;*/
  letter-spacing: 0.03em;
  color: #212121;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  /*text-align: center;*/
  letter-spacing: 0.03em;
  color: #757575;
}
/*========END TEAM========*/
/*================END STUDIO================*/

/*================PORTFOLIO================*/
/*========FILTER BUTTONS========*/
.filter-buttons {
  /*position: absolute;*/
  border-radius: 4px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-buttons:hover,
.filter-buttons:focus {
  background-color: var(--accent-color);
  cursor: pointer;
  color: #fff;
}
/*========END FILTER BUTTONS========*/

/*========WORK CATEGORIES========*/
.work-categories-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.work-categories-product {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*========END WORK CATEGORIES========*/
